@import '../../variables.css';

.circle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 35rem;
  height: 35rem;
  background-size: cover;
  animation: rotate linear infinite
}

@media only screen and (max-width:600px) {
  .circle {
      width: 23.75rem;
      height: 23.75rem;
      margin-right: auto;
      margin-left: auto
  }
}

@media only screen and (max-width:374px) {
  .circle {
      width: 20rem;
      height: 20rem
  }
}

.circle.-outter {
  background-image: url(./images/circle/circle-outter.png)
}

.circle.-big {
  background-image: url(./images/circle/circle-big.png);
  animation-duration: 50s
}

.circle.-inner {
  background-image: url(./images/circle/circle-inner.png);
  animation-duration: 30s
}

.circle.-small {
  background-image: url(./images/circle/circle-small.png);
  animation-name: rotate-reverse;
  animation-duration: 25s
}

@keyframes rotate {
  0% {
      transform: rotate(0deg) translateZ(0)
  }

  100% {
      transform: rotate(360deg) translateZ(0)
  }
}

@keyframes rotate-reverse {
  0% {
      transform: rotate(0deg) translateZ(0)
  }

  100% {
      transform: rotate(-360deg) translateZ(0)
  }
}
